{% load static %} {% block sidebar %}
    <!-- ========== Left Sidebar Start ========== -->
    <div class="vertical-menu">
      <div data-simplebar class="h-100">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
          <!-- Left Menu Start -->
          <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title" key="t-menu">Menu</li>

        <li>
          <a href="javascript: void(0);" class="waves-effect">
            <i class="bx bx-home-circle"></i
            ><span class="badge rounded-pill bg-info float-end">04</span>
            <span key="t-dashboards">Dashboards</span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="{% url 'dashboard' %}" key="t-default">Default</a></li>
            <li><a href="{% url 'dashboard_saas' %}" key="t-saas">Saas</a></li>
            <li>
              <a href="{% url 'dashboard_crypto' %}" key="t-crypto">Crypto</a>
            </li>
            <li><a href="{% url 'dashboard_blog' %}" key="t-blog">Blog</a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="bx bx-layout"></i>
            <span key="t-layouts">Layouts</span>
          </a>
          <ul class="sub-menu" aria-expanded="true">
            <li>
              <a href="javascript: void(0);" class="has-arrow" key="t-vertical">Vertical</a>
              <ul class="sub-menu" aria-expanded="true">
              <li>
                <a href="{% url 'light_sidebar'%}" key="t-light-sidebar">Light Sidebar</a  >
              </li>
              <li>
                <a href="{% url 'compact_sidebar'%}" key="t-compact-sidebar">Compact Sidebar</a  >
              </li>
              <li>
                <a href="{% url 'icon_sidebar'%}" key="t-icon-sidebar">Icon Sidebar</a  >
              </li>
              <li>
                <a href="{% url 'boxed_width_sidebar'%}" key="t-boxed-width">Boxed Width</a  >
              </li>
              <li>
                <a href="{% url 'preloader_sidebar'%}" key="t-preloader">Preloader</a  >
              </li>
              <li>
                <a href="{% url 'colored_sidebar'%}" key="t-colored-sidebar">Colored Sidebar</a  >
              </li>
              <li>
                <a href="{% url 'scrollable_sidebar'%}" key="t-scrollable">Scrollable</a  >
              </li>
              </ul>
            </li>

            <li>
              <a href="javascript: void(0);" class="has-arrow" key="t-horizontal">Horizontal</a>
              <ul class="sub-menu" aria-expanded="true">
              <li>
                <a href="{% url 'horizontal'%}" key="t-horizontal">Horizontal</a  >
              </li>
              <li>
                <a href="{% url 'hori_topbar_light'%}" key="t-topbar-light">Topbar light</a  >
              </li>
              <li>
                <a href="{% url 'hori_boxed_width'%}" key="t-boxed-width">Boxed width</a  >
              </li>
              <li>
                <a href="{% url 'hori_preloader'%}" key="t-preloader">Preloader</a  >
              </li>
              <li>
                <a    href="{% url 'hori_colored_header'%}" key="t-colored-topbar">Colored Header</a  >
              </li>
              <li>
                <a href="{% url 'hori_scrollable'%}" key="t-scrollable">Scrollable</a  >
              </li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="menu-title" key="t-apps">Apps</li>
        

          <li>
            <a href="javascript: void(0);" class="has-arrow waves-effect">
              <i class="bx bx-calendar"></i>
              <span key="t-ecommerce">TALI</span>
            </a>
            <ul class="sub-menu" aria-expanded="false">
              <li>
                <a href="{% url 'App:instructorslist' %}" key="t-products">Instructors</a>
              </li>
              <li>
                <a href="{% url 'App:structureslist' %}" key="t-orders">Structures</a>
              </li>
              <li>
                <a href="{% url 'App:courseslist' %}" key="t-orders">Courses</a>
              </li>
              <li>
                <a href="{% url 'App:programslist' %}" key="t-customers">Programs</a>
              </li>
            </ul>
          </li>
        
        </div>
        <!-- Sidebar -->
      </div>
    </div>
    <!-- Left Sidebar End -->
{% endblock %}
